@model IEnumerable<HomeWork1.Models.客戶資料>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td style="white-space:nowrap;">
                    @Html.ActionLink("Create New", "Create") 
                </td>
                <td style="width:47%"></td>
                <td style="white-space:nowrap">
                    客戶分類查詢:
                </td>
                <td>
                    @Html.DropDownList("custCategory", null, "全部", htmlAttributes: new { @class = "form-control" })
                </td>
                <td>
                    ｜
                </td>
                <td>
                    <input type="text" name="param" id="keyword" class="form-control" value="@TempData["param"]"/>
                </td>
                <td>
                    <input type="submit" value="搜尋" class="btn btn-default" formaction="@Url.Action("Index")"  />
                </td>
                <td>
                    ｜
                </td>
                <td>
                    <input type="submit"  value="匯出資訊" class="btn btn-default" formaction="@Url.Action("GetExcelFile")"/>
                    <button id="btnExport" hidden="hidden">匯出資訊</button>
                    @Html.Hidden("hidparam", TempData["param"])
                    @Html.Hidden("hidcustCategory", TempData["custCategory"])
                </td>
            </tr>
        </table>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.統一編號)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.傳真)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.地址)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.客戶分類)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.統一編號)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.傳真)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶類別.類別)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#custCategory').change(function () {
                getCustCategory();
            })
        });

        function getCustCategory() {
            var url = '@Url.Action("GetCustCategoryData")' + "?hidparam=" + $('#hidparam').val() + "&custCategory=" + $('#custCategory').val();
            location.href = url;
        }

        @*$('#btnExport').on("click", function () {
            alert($('#keyword').val());
            var url = '@Url.Action("GetExcelFile")' + "?hidparam=" + $('#hidparam').val() + "&hidcustCategory=" + $('#hidcustCategory').val();
            location.href = url;
        })*@

    </script>
    }

